<div class="container login-container">
    <div class="card">
        <div class="card-content">
            <h3>GC registration</h3>
            <div class="divider"></div>
            <div class="section">
                <a href="/auth/google" class="btn blue darken-1">
                    <i class="fab fa-google left"></i> Sign in
                </a>
            </div>
        </div>
    </div>
</div>